.main-title{display: inline-block;background: rgba(255, 254, 255, 0.6);}
.hr{border-top:solid 1px black !important;}
.clear{clear:both;}
.inlineB{display:inline-block !important;}
.displayNone{display:none;}

#sidebar-perso-wrapper {
    z-index: 1000;
    /*position: fixed;*/
    left: 0;
    /*width: 250px;*/
    height: 100%;
    /*margin-right: -250px;*/
    overflow-y: auto;
    background: #55acee;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}


/*Couleurs*/
.bg-danger{background:#a94442;}
.bg-grey{background:rgb(224, 224, 224);}
.text-white{color:white;}
.text-black{color:black;}

/*Padding*/
.p-5{padding:5px;}
.p-10{padding:10px;}
.p-20{padding:20px;}

/*Margin*/
.no-margin{margin:0px;}
.m-5{margin:5px;}
.m-10{margin:10px;}
.m-20{margin:20px;}

.mr-10{margin-right:10px;}
.mr-20{margin-right:20px;}
.mr-30{margin-right:30px;}
.mr-40{margin-right:40px;}

.mt-10{margin-top:10px;}
.mt-20{margin-top:20px;}
.mt-30{margin-top:30px;}
.mt-40{margin-top:40px;}

.ml-10{margin-left:10px;}
.ml-20{margin-left:20px;}
.ml-30{margin-left:30px;}
.ml-40{margin-left:40px;}


