#twitter{margin-left:23%;}



/**********************************************Tab panels Twitter********************************/
.panel-tab {
  background: #f9f9f9;
}
.panel-tab:before,
.panel-tab:after {
  display: table;
  line-height: 0;
  content: "";
}
.panel-tab:after {
  clear: both;
}
.tab-bar {
  list-style: none;
  margin: 0;
}
.tab-bar:before,
.tab-bar:after {
  display: table;
  line-height: 0;
  content: "";
}
.tab-bar:after {
  clear: both;
}
.tab-bar.grey-tab {
  background: #e6e6e6;
}
.tab-bar.grey-tab li.active a {
  border: transparent;
  background: #f9f9f9;
}
.tab-bar.grey-tab li.active a:hover,
.tab-bar.grey-tab li.active a:focus {
  border: transparent;
}
.tab-bar.grey-tab li a {
  color: #bbb;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border: transparent;
  text-shadow: 0 1px 0 #fff;
}
.tab-bar.bg-primary li:not(.active) a,
.tab-bar.bg-info li:not(.active) a,
.tab-bar.bg-success li:not(.active) a,
.tab-bar.bg-warning li:not(.active) a,
.tab-bar.bg-danger li:not(.active) a {
  color: #fff;
  text-shadow: none;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}
.tab-bar.bg-primary li:not(.active) a:hover,
.tab-bar.bg-info li:not(.active) a:hover,
.tab-bar.bg-success li:not(.active) a:hover,
.tab-bar.bg-warning li:not(.active) a:hover,
.tab-bar.bg-danger li:not(.active) a:hover,
.tab-bar.bg-primary li:not(.active) a:focus,
.tab-bar.bg-info li:not(.active) a:focus,
.tab-bar.bg-success li:not(.active) a:focus,
.tab-bar.bg-warning li:not(.active) a:focus,
.tab-bar.bg-danger li:not(.active) a:focus {
  color: #eee;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}
.tab-bar > li {
  display: inline-block;
  float: left;
  margin-bottom: -1px;
}
.tab-bar > li.active:first-child a {
  border-left: none;
}
.tab-bar > li.active a {
  background: #fff;
  color: #777;
}
.tab-bar > li a {
  display: block;
  padding: 10px;
  color: #ccc;
  text-shadow: 0 1px #fff;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}
.tab-bar > li a:hover,
.tab-bar > li a:focus {
  text-decoration: none;
  color: #777;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}